.form-group{
    &.pt20{
        padding-top: em(20);
    }
    &.top{
        label{
            vertical-align: top;
            line-height: 36px;
        }
    }
    label{
        color: $formg-label-color;
        padding-right: 5px;
        display: inline-block;
        flex:1;
        &.right{
            text-align: right;
        }
    }
    span.red{
        color: red;
    }
}
