.headers{
    height: 66px;
    background: $header-bg;
    color: $header-color;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    .logo{
        width: 188px;
        height:66px;
        background: url("/Build/Admin/Img/logo.png") $header-logo-bg;
        display: inline-block;
    }
    .user-bar{
        float: right;
        width: auto;
        min-width: 140px;
        margin-right: 60px;
        padding: 0px;
        background: none;
        border: none;
        color: $header-color;
        .text{
            padding: 23px 11px;
            vertical-align: middle;
            cursor: pointer;
            .pic{
                display: inline-block;
                vertical-align: middle;
                font-size: 32px;
                margin-right: 18px;
                &:before{
                    display: block;
                }
                &.img{
                    width: 28px;
                    height: 28px;
                    border-radius: 14px;
                }
            }
            .name{
                vertical-align: middle;
                margin-right: 12px;
            }
            .icon{
                font-size: 23px;
                top: 11px;
            }
        }
        &.visible{
            .text{
                background: $header-user-bg;
            }
            .menu {
                display: block;
            }
        }
        .menu {
            background: $header-user-bg;
            border: none;
            display: none;
            margin: 0px;
            width: 100%;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            li{
                a{
                    font-size: 12px;
                    line-height: 40px;
                    display: block;
                    text-align: center;
                    color: #fff;
                    &:hover{
                        background: #edf0fc;
                        color: #000;
                    }
                }
            }
        }
    }
}
