.img-up-activate{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    background: url(/Build/Admin/Img/upload.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    label{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        span{
            width: 100%;
            position: absolute;
            top: 45%;
            color: #fff;
            text-align: center;
            display: block;
            background: rgba(0,0,0,.2);
        }
    }
    #upload-file{
        display: none;
    }
}
.ui.modal{
    &.img-up{
        width: 700px;
        padding: 52px;
        background: #f6f6f6;
        .content{
            height: 430px;
            border: none;
            padding: 0px;
            position: relative;
            background: #f6f6f6;
            .cancel{
                font-size: 30px;
                position: absolute;
                top: -42px;
                right: -35px;
                cursor: pointer;
            }
            .image-box{
                position: relative;
                height: 380px;
                width: 380px;
                border-radius: 4px;
                overflow: hidden;
                background-repeat: no-repeat;
                cursor: move;
                .thumb-box {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 200px;
                    height: 200px;
                    margin-top: -100px;
                    margin-left: -100px;
                    box-sizing: border-box;
                    border-radius: 4px;
                    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
                    background: none repeat scroll 0% 0% transparent;
                }
                .spinner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    text-align: center;
                    line-height: 400px;
                    background: rgba(0,0,0,0.7);
                }
            }
            .action {
                width: 380px;
                margin-top: 10px;
                text-align: left;
                .btnsty{
                    width: 36px;
                    height: 36px;
                    line-height: 32px;
                    border: 1px solid #56a3e5;
                    border-radius: 18px;
                    background: none;
                    font-size: 20px;
                    font-weight: 100;
                    color: #56a3e5;
                    margin-right: 10px;
                }
            }
            .cropped {
                position: absolute;
                right: 0;
                top: 0;
                width: 150px;
                text-align: center;
                .min{
                    width:50px;
                    border-radius:4px;
                }
                .medium{
                    width:100px;
                    margin-top:4px;
                    border-radius:4px;
                }
                .max{
                    width:150px;
                    margin-top:4px;
                    border-radius:4px;
                }
                p{
                    margin-bottom: 5px;
                    font-size: 12px;
                    color: #333;
                }
            }
        }
    }
}
