.main{
    position: absolute;
    top: 66px;
    left:188px;
    right: 0px;
    padding: 0px 60px 30px 30px;
}
.main-title{
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-right:-30px;
    padding-left: 30px;
    border-bottom: 1px solid $main-border-bottom-color;
    h2{
        font-size: 20px;
        line-height: 60px;
        color: $main-title-h2-color;
        font-weight:normal;
    }
}
