.modal{
    &.modal-alert{
        width: 1000px;
        .close{
            top: 0px;
            right: 0px;
            color: #333;
        }
        .header{
            font-size: 16px !important;
            padding: 10px 20px;
            background: #f6f9f9;
        }
        .content{
            padding: 30px;
        }
    }
}
