.ui{
   &.pagination{
        &.menu{
            margin-top: 40px;
            min-height: 36px;
            height: 36px;
            border:1px solid $page-border;
            box-shadow: none;
            border-radius: 4px;
            margin-bottom: 20px;
            .item{
                min-width: 40px;
                height: 36px;
                font-size: 14px;
                padding: 0px 10px;
                display: block;
                line-height: 36px;
                color: $page-color;
                .iconfont{
                    font-size: 14px;
                }
                &.active{
                    padding: 0px;
                    background: none;
                    height: 35px;
                    border-bottom: 2px solid $page-border-bottom-active;
                    cursor: text;
                    pointer-events:none;
                }
                &:before{
                    border-color:1px solid $page-border-left;
                }
                &.disabled{
                    &:hover{
                        color: $page-color;
                    }
                }
            }
        }
    }
    &.right{
        &.floated{
            &.menu{
                margin-top: 40px;
            }
        }
    }
}
//兼容旧版自带分页-用于系统，权限等设置
.page_nav{
    margin-top: 40px;
    min-height: 36px;
    height: 36px;
    border: 1px solid #d5d7d9;
    box-shadow: none;
    border-radius: 4px;
    display: inline-flex;
    vertical-align: middle;
    &:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    div{
        display: inline-flex;
        vertical-align: middle;
    }
    a,span{
        min-width: 40px;
        height: 36px;
        font-size: 14px;
        padding: 0px 10px;
        display: block;
        line-height: 36px;
        color: #333333;
        position: relative;
        vertical-align: middle;
        text-align: center;
        &:before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            height: 100%;
            width: 1px;
            background: rgba(34, 36, 38, 0.1);
        }
        &:last-child:before {
            display: none;
        }
        &.current{
            padding: 0px;
            background: none;
            height: 35px;
            border-bottom: 2px solid #8a8ad9;
            cursor: text;
            pointer-events: none;
        }
    }
}
