.tables{
    width: 100%;
    border: 1px solid $table-border-color;
    border-radius: 4px;
    border-collapse: separate;
    border-spacing: 0;
    &.structured{
        border-collapse: collapse;
        td{
            border-right: 1px solid $table-border-color;
        }
    }
    &.center {
	    text-align: center;
    }
    &.tr-cursor{
        tbody{
            tr{
                cursor: pointer;
            }
        }
    }
    &.tbody-p0{
        tbody{
            td{
                padding: 0px;
            }
        }
    }
    &.tbody-first-td{
        tbody{
            tr:first-child td{
                border-top: none;
            }
        }

    }
    &.border-none{
        border: none;
        td{
            border-right: none;
        }
    }
    thead{
        th{
            background: $table-thead-bg;
            color: $table-thead-color;
            text-align: center;
            font-size: 14px;
            border-collapse: separate;
            border-left: 1px solid $table-border-color;
            // border-bottom: 1px solid $table-border-color;
            padding: 10px;
            font-weight: normal;
            &:first-child{
                border-left: none;
            }
        }
    }
    tbody{
        tr{
            td{
                border-left: 1px solid $table-border-color;
                border-top: 1px solid $table-border-color;
                padding: 12px;
                &:first-child{
                    border-left: none;
                }
                &.td-p0{
                    padding: 0px;
                }
            }
        }
    }
    tfoot{
        td{
            border-left: 1px solid $table-border-color;
            border-top: 1px solid $table-border-color;
            padding: 12px;
            &:first-child{
                border-left: none;
            }
        }
    }
}
