<extend name="Public/base" />

<block name="body">
	<style type="text/css">
		.ui.dropdown{width: 300px !important;}
	</style>
	<div class="main-title">
		<h2>网站设置</h2>
	</div>
	<div class="tab-wrap">
		<div class="ui secondary pointing menu">
			<volist name="Think.config.CONFIG_GROUP_LIST" id="group">
				<a href="{:U('?id='.$key)}" class='item <eq name="id" value="$key">active</eq>'>
					{$group}配置
				</a>
			</volist>
		</div>
		<div class="tab-content">
			<form action="{:U('save')}" method="post" class="form-horizontal ui form">
				<volist name="list" id="config">
					<div class="fields">
						<div class="field">
							<label class="item-label">{$config.title}<span class="check-tips">（{$config.remark}）</span> </label>
								<switch name="config.type">
									<case value="0">
										<input type="text" name="config[{$config.name}]" value="{$config.value}" style="width:300px">
									</case>
									<case value="1">
										<input type="text" name="config[{$config.name}]" value="{$config.value}" style="width:300px">
									</case>
									<case value="2">
										<textarea name="config[{$config.name}]" rows=3 style="width:300px">{$config.value}</textarea>
									</case>
									<case value="3">
										<textarea name="config[{$config.name}]" rows=3 style="width:300px">{$config.value}</textarea>
									</case>
									<case value="4">
										<select class="ui dropdown" name="config[{$config.name}]">
											<volist name=":parse_config_attr($config['extra'])" id="vo">
												<option value="{$key}" <eq name="config.value" value="$key">selected</eq>>{$vo}</option>
											</volist>
										</select>
									</case>
								</switch>
						</div>
					</div>
				</volist>
				<div class="form-item">
					<label class="item-label"></label>
					<div class="controls">
						<empty name="list">
							<button type="submit" disabled class="btn submit-btn disabled" target-form="form-horizontal">确 定</button>
						<else/>
							<button type="submit" class="ui blue button submit-btn ajax-post mr20" target-form="form-horizontal">确 定</button>
						</empty>
						<button class="ui blue button btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		$(function() {
			$('.ui.dropdown').dropdown();
		})
	</script>
</block>