.ui{
    .header{
        position: initial;
    }
    &.form{
        .field>label{
            font-weight: normal;
        }
        .fields{
            .field{
                .ui.dropdown.w204{
                    width: 204px;
                }
                textarea.w204{
                    width: 204px;
                }
            }
        }
        .disabled.field,.disabled.fields,.field :disabled,.disabled.dropdown, .ui.dropdown .menu>.disabled.item{
            opacity: 1;
        }
    }
}
