[v-cloak] {
    display: none;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html{
    font-size: 100%;
}
body,input{
    font-size: 14;
    color: #666666;
    font-family:"Helvetica Neue","Helvetica","Arial","Microsoft Yahei","PingFang SC","Hiragino Sans GB";
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}
input{
    outline:none;
}
.hidden {
	display: none !important;
}