#editDoctor{
    position: relative;
    h3{
        font-size: 18px;
        color: #000;
        margin: 20px 0px;
    }
    .form-group{
        label{
            width: 120px;
        }
        .checkbox{
            margin-right: 15px;
            label{
                width: auto;
                padding-left: 23px;
                font-size: 14px;
            }
        }
    }
    .input1{
        width: 400px;
    }
    .input2{
        width: 342px;
    }
    .input3{
        width: 575px;
    }
    .input4 {
	    width: 555px;
    }
    .input5{
        width: 515px;
    }
    .textarea1{
        width: 575px;
    }
    .age,.cy{
        width: 50px;
        margin-left: 5px;
    }
    .submit{
        width: 680px;
        text-align: right;
        margin-top: 40px;
    }
    .img-up-activate{
        position: absolute;
        top: 122px;
        left: 550px;
    }
    .visits-calendar{
        .calendar{
            float: left;
            display: inline-block;
            td{
                position: relative;
                .yuandian{
                    width: 4px;
                    height: 4px;
                    background: #5f5ac7;
                    border-radius: 2px;
                    display: inline-block;
                    position: absolute;
                    top: 4px;
                    left: 50%;
                    margin-left: -2px;
                }
            }
        }
        .calendar-info{
            float: left;
            display: inline-block;
            width: 320px;
            margin-left: 38px;
            overflow: hidden;
            .title{
                font-size: 18px;
                color: #000;
            }
            .list{
                height: 260px;
                margin-top: 18px;
                overflow-y: scroll;
                dl{
                    &:after{
                        clear: both;
                        content: '';
                        display: block;
                    }
                    &:first-of-type{
                        padding-top: 0px;
                    }
                    border-bottom: 1px solid #ddd;
                    padding: 18px 0px;
                    dt{
                        float: left;
                        text-align: center;
                        width: 56px;
                        overflow: hidden;
                        img{
                            display: block;
                            margin: 4px auto;
                            width: 34px;
                            height: 34px;
                            border-radius: 17px;
                        }
                        span{
                            white-space:nowrap;
                        }
                    }
                    dd{
                        float: left;
                        padding-left: 24px;
                        p{
                            line-height: 20px;
                            margin: 0px;
                            width: 205px;
                            overflow: hidden;
                            white-space:nowrap;
                            text-overflow:ellipsis;
                        }
                    }
                }
            }
        }
    }
}
