#healthPlanIndex{
    .visits-calendar{
        .calendar{
            width: 330px;
            min-height: 1px;
            float: left;
            margin-right: 50px;
            .day{
                position: relative;
            }
            .scheme-mark-yongyao{
                display: inline-block;
                width: 4px;
                height: 4px;
                background: #5f5ac7;
                border-radius:2px;
                position: absolute;
                top: 5px;
                left: 50%;
                margin-left: -2px;
            }
        }
        .calendar-info{
            width: 560px;
            margin-top: -62px;
            float: left;
            .scheme-date{
                font-size: 18px;
                color: #000;
                margin-bottom: 18px;
            }
            .scheme-null{
                margin-top: 42px;
                border: 1px solid #d5d7d9;
                height: 302px;
                background: url(/Build/Admin/Img/scheme-null.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;
                p{
                    position: absolute;
                    bottom: 30px;
                    left: 200px;
                    font-size: 16px;
                    color: #999999;
                }
            }
            .scheme {
                margin-bottom: 30px;
                .title{
                    color: #35a4eb;
                    margin-bottom: 5px;
                }
                .tables-td{
                    padding: 0px;
                }
                th{
                    &:nth-child(1){
                        width: 200px;
                    }
                    &:nth-child(2){
                        width: 100px;
                    }
                    &:nth-child(3){
                        width: 160px;
                    }
                    &:nth-child(4){
                        width: 100px;
                    }
                }
                .scheme-drug{
                    margin-left: -1px;
                    margin-top: -1px;
                    margin-right: -1px;
                    margin-bottom: -1px;
                    width: calc(100% + 2px);
                    th,td{
                        &:nth-child(1){
                            width: 100px;
                        }
                        &:nth-child(2){
                            width: 160px;
                        }
                        &:nth-child(3){
                            width: 100px;
                        }
                    }
                }
                .scheme-tfoot{
                    margin-top: 5px;
                    p{
                        color: #333;
                        line-height: 20px;
                        margin: 0px;
                    }
                }
            }
        }
    }
    .add-scheme{
        margin: 20px 0px 50px;
        .title{
            font-size:18px;
            color:#000000;
        }
        .form-group{
            label{
                width: 70px;
            }
            .scheme-start-time{
                width: 363px;
            }
            .scheme-time-laben:before,.scheme-time-laben:after{
                top: 9px;
            }
            .select-scheme{
                .delete {
	                margin-left: 5px;
                }
            }
            .scheme-doctors{
                width: 363px;
            }
        }
    }
    .chengyao-scheme{
        width: 900px;
        .title{
            color: #35a4eb;
            margin-bottom: 5px;
        }
        th,td{
            &:nth-child(1){
                width: 230px;
            }
            &:nth-child(2){
                width: 170px;
            }
            &:nth-child(3){
                width: 150px;
            }
            &:nth-child(4){
                width: 165px;
            }
            &:nth-child(5){
                width: 185px;
            }
        }
        .tables-td{
            padding: 0px;
            position: relative;
            .delete-drug{
                position: absolute;
                right: -40px;
                top: 16px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #dfe2e2;
                border-radius: 4px;
                cursor: pointer;
                i{
                    margin: 0px;
                }
            }
        }
        .drug-tables{
            margin-left: -1px;
            margin-top: -1px;
            margin-right: -1px;
            margin-bottom: -1px;
            width: 901px;
            .drug-name-select{
                width: 90%;
            }
            .drug-day-select,.drug-frequency-select{
                width: 35%;
            }
            .drug-way-select{
                width: 90%;
            }
            .drug-measure-select,.drug-unit-select{
                width: 40%;
                input{
                    width: 100%;
                    margin-top: -2px;
                }
            }
            .drug-start-time-select,.drug-end-time-select{
                width: 45%;
            }
            .td-p0{
                padding: 0px;
                textarea{
                    height: 50px;
                }
            }
            .text-left{
                text-align: left;
            }
            .drug-tables-time{
                margin: -1px;
                width: calc(100% + 2px);
                td{
                    &:nth-child(1){
                        width: 165px;
                    }
                    &:nth-child(2){
                        width: 185px;
                    }
                }
            }
        }
    }
}
.healthPlanIndex{
    &.modal-scheme{
        width: 630px;
        margin-left: -315px;
        .header{
            font-size: 16px !important;
            padding: 10px 20px;
            background: #f6f9f9;
            .close{
                float: right;
                font-size: 18px;
                margin-right: -10px;
                cursor: pointer
            }
        }
        .content{
            padding: 30px 60px;
            font-size: 14px;
            .selection{
                margin-bottom: 20px;
            }
            .pagination{
                margin-top: 20px;
            }
            th,td{
                padding:5px 10px;
            }
        }
    }
}
