#publicSport{

}
.publicSport{
    .scheme-form-info{
        display: inline-block;
        margin-bottom: 30px;
        &:nth-child(2){
            margin-left: 15px;
            margin-right: 15px;
        }
        label{
            width: auto;
        }
        .input{
            input{
                width: 230px;
            }
        }
    }
    .scheme-info{
        width:100%;
        font-size: 14px;
        th,td{
            &:nth-child(1){
                width: 200px;
            }
            &.td-p0{
                padding: 0px;
                input{
                    height: 60px;
                }
                textarea{
                    height: 60px;
                }
            }
        }
    }
    .buttom-btn{
        padding-top: 20px;
        &::after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
}
