#memberCustomerMemberInfo{
    h3{
        font-size: 18px;
        color: #000;
        margin: 20px 0px;
    }
    .user-info{
        margin-bottom: 50px;
        tr{
            &:first-of-type{
                td{
                    border-top: none;
                }
            }
            td{
                &.sex,&.member-id{
                    text-align: left;
                    padding: 10px;
                    height: 39px;
                    box-sizing: border-box;
                }
                &:first-of-type{
                    width: 150px;
                }
                input{
                    text-align: left;
                }
            }

        }
    }
    .bazaar-info{
        margin-bottom: 50px;
        .form-group-dropdown{
            display: flex;
            justify-content:space-between;
            .dropdown{
                flex-basis:23%;
            }
        }
        .money{
            tr{
                &:first-of-type{
                    td{
                        border-top: none;
                    }
                }
                td{
                    &:first-of-type{
                        width: 150px;
                    }
                    input{
                        text-align: left;
                    }
                }

            }
            .mingxi-btn{
                text-align: left;
                padding: 10px;
                color: #999;
                position: relative;
                height: 36px;
                box-sizing: border-box;
                span{
                    position: absolute;
                    display: block;
                    width: 100px;
                    height: 36px;
                    line-height: 36px;
                    top: 1px;
                    left: 50%;
                    margin-left: -50px;
                    color: $input-w-border-hover;
                }
            }
        }
        .mingxi{
            li{
                display: flex;
                justify-content:space-between;
                margin-top: 10px;
                .input{
                    input{
                        width: 100%;
                    }
                }
                .input:nth-child(1){
                    flex-basis:222px;
                }
                .input:nth-child(2){
                    flex-basis:40px;
                    line-height: 36px;
                    text-align: center;
                }
                .input:nth-child(3){
                    flex-grow:2;
                }
                .tool{
                    flex-basis:100px;
                    .add,.subtract{
                        width: 36px;
                        height: 36px;
                        border-radius: 5px;
                        text-align: center;
                        background-color: #dfe2e2;
                        line-height: 36px;
                        cursor: pointer;
                        margin-left: 10px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .health-info{
        .input{
            width: 100%;
            textarea{
                width: 100%;
                height: 100px;
            }
        }
        .img-list{
            margin-top: 20px;
            display: flex;
            align-items:center;
            .img{
                flex-basis:100px;
                height: 100px;
                margin-right: 20px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                .delete{
                    position: absolute;
                    top: 5px;
                    right: 7px;
                    font-size: 20px;
                    color: #333;
                    cursor: pointer;
                }
            }
            .add{
                flex-basis:84px;
                height: 36px;
                line-height: 36px;
                border-radius: 18px;
                text-align: center;
                background-color: #35a4eb;
                cursor: pointer;
                display: inline-block;
                color: #fff;
                margin-left: 20px;
            }
        }
    }
    .medical-advice-h3{
        color: #5f5ac7;
        i{
            font-size: 25px;
            margin-top: 5px;
        }
    }
    .medical-advice{
        .medical-tables1{
            tr{
                td:nth-child(1){
                    width: 20%;
                }
                td:nth-child(2){
                    width: 16%;
                }
                td:nth-child(3){
                    width: 19%;
                }
                td:nth-child(4){
                    width: 23%;
                }
                td:nth-child(5){
                    width: 22%;
                }
                td{
                    .input{
                        display: block;
                        width: auto;
                        input{
                            display: block;
                            width: 100%;
                        }
                        textarea{
                            width: 100%;
                        }
                    }
                    .dropdown-medical{
                        display: block;
                        width: auto;
                    }
                    .operation-btn{
                        box-sizing: initial;
                        &:nth-child(2){
                            float: left;
                            margin-top: 10px;
                        }
                        &:nth-child(3){
                            float: right;
                            margin-top: 10px;
                        }
                    }
                    .operation-btn2{
                        box-sizing: initial;
                        &:nth-child(2){
                            float: left;
                            margin-top: 10px;
                        }
                        &:nth-child(3){
                            float: right;
                            margin-top: 10px;
                        }
                    }
                }
            }
            .medical-tables2{
                tr{
                    td:nth-child(1){
                        width: 20%;
                        .btn.min{
                            padding-left:12px;
                            padding-right:12px;
                        }
                    }
                    td:nth-child(2){
                        width: 23.78%;
                    }
                    td:nth-child(3){
                        width: 28.7%;
                    }
                    td:nth-child(4){
                        width: 27.5%;
                    }
                }
            }
        }
    }
    .relation-history{
        .list{
            .form-group{
                display: flex;
                justify-content:space-between;
                margin-bottom: 20px;
                label{
                    flex-basis:70px;
                    flex-grow:0;
                    line-height: 36px;
                }
                .input{
                    flex-grow:1;
                    input{
                        width: 100%;
                    }
                    textarea{
                        width: 100%;
                    }
                }
            }
        }
    }
}
