#memberMemberInfo{

    .form-group {
        label{
            width: 105px;
        }
        .input{
            input{
                width: 600px;
            }
        }
        .dropdown-init{
            width: 297px;
        }
    }
    .submit{
        width:708px;
        margin-top: 20px;
        margin-bottom:40px;
        text-align: right;
    }
}
