#memberServerEdit{
    .form-group{
        .input{
            input{
                width: 500px;
            }
            textarea{
                width: 500px;
            }
            // .textarea{
            //     width: 500px;
            // }
        }
        .ui.dropdown{
            width: 500px;
        }
        &.align{
            label{
                vertical-align: top;
                margin-top: 8px;
            }
        }
    }
    .img{
        display: inline-block;
        img{
            width: 100px;
            height: 100px;
            border-radius: 5px;
        }
        .btn{
            vertical-align: top;
        }
    }
}
