#healthMonitoring{
    em{
        color: #e5628f;
        font-style: normal;
        margin-left: 5px;
    }
}
.healthMonitoring{
    width: 410px !important;
    .form-group{
        label{
            width: 75px;
        }
    }
    .submit{
        text-align: center;
    }
}
