#memberEdit{
    .form-group label{
        width: 95px;
    }
    .img-up-activate{
        position: absolute;
        top: 80px;
        left: 410px;
    }
    .ui.radio{
        label{
            width: auto;
            padding-left: 25px;
            margin-right: 40px;
        }
    }
    .submit{
        width:355px;
        margin-top: 40px;
        text-align: right;
    }
    .birth{
        margin-right: 2px;
        input{
            width: 200px;
        }
    }
    .age{
        width: 54px;
    }
}
