#memberMenberCase{
    .form-group{
        label{
            width: 80px;
        }
        .input{
            input{
                width: 600px;
            }
            textarea{
                width: 600px;
            }
        }
    }
    .submit{
        width: 680px;
    }
}
