#menuEdit{
    .field{
        width: 400px; 
        label{
            font-size: 16px;
            font-weight: normal;
            .check-tips{
                color: #aaa;
                font-size: 14px;
            }
        }
        input{
            font-size: 13px;
        }
    }
}
