#operateNoticeIndex{
    .checkbox{
        position: absolute;
        left: 0px;
        top: 50%;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        background:#f8f8f8;
        border:1px solid #d5d7d9;
        border-radius:3px;
        cursor: pointer;
        .checkmark{
            display:none;
        }
        &.active{
            border:1px solid #1985fc;
            background:#1985fc;
            .checkmark{
                display:inline-block;
                color:#fff;
            }
        }
    }
    .message-list{
        margin-top: 20px;
        .title{
            margin-left: 40px;
            font-size: 18px;
            color: #333;
            margin-bottom: 5px;
        }
        ul>li{
            position: relative;
            .container{
                min-height: 90px;
                padding: 20px;
                padding-right: 55px;
                margin-left: 40px;
                border-left: 1px solid #d5d7d9;
                border-right: 1px solid #d5d7d9;
                border-top: 1px solid #d5d7d9;
                position: relative;
                .msg-icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 5px;
                    color: #fff;
                    display: block;
                    float: left;
                    // position: absolute;
                    // top: 50%;
                    // margin-top: -25px;
                    // left: 20px;
                    .iconfont{
                        font-size: 28px;
                        margin-top: 18px;
                        margin-left: 11px;
                    }
                    //时间
                    &.icon1{
                        background: #35a4eb;
                    }
                    //日历
                    &.icon2{
                        background: #77c0ef;
                    }
                    //运动
                    &.icon3{
                        background: #7dcbb8;
                    }
                    //美食
                    &.icon4{
                        background: #a2e8bb;
                    }
                    //医药
                    &.icon5{
                        background: #65d28c;
                    }
                    //检测
                    &.icon6{
                        background: #50c7d0;
                    }
                    //提醒
                    &.icon7{
                        background: #7edfe6;
                    }
                    //方案
                    &.icon8{
                        background: #a2dacc;
                    }
                    //客户
                    &.icon9{
                        background: #9fa7bf;
                    }
                    //通讯录
                    &.icon10{
                        background: #d3d6de;
                    }
                }
                .content{
                    padding-left: 80px;
                    font-size: 14px;
                    color: #333;
                    line-height: 26px;
                    a{
                        color: #4f4ab6;
                    }
                }
            }
            &:first-of-type .container{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            &:last-of-type .container{
                border-bottom: 1px solid #d5d7d9;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .link-icon{
                position: absolute;
                right: 15px;
                top: 50%;
                margin-top: -9px;
                .iconfont{
                    font-size: 28px;
                    transform:scaleX(-1);
                    color: #d5d7d9;
                }

            }
        }
        .foot-toolbar{
            position: relative;
            margin-left: 40px;
            margin-top: 20px;
            .checkbox{
                left: -40px;
            }
        }
    }
}
