#operateIndex{
    h3{
        font-size: 18px;
        color: #000;
        margin: 20px 0px;
    }
    .form-group{
        .ui.dropdown{
            width: 600px;
            .remove{
                position: absolute;
                top: .78571429em;
                right: 0.2em;
                cursor: pointer;
                z-index: 999;
            }
        }
    }
    .submit{
        width: 665px;
        margin-top: 20px;
    }
    .chatting{
        width: 665px;
        border: 1px solid #d5d7d9;
        border-radius: 5px;
        padding: 10px 20px;
        .head{
            .date{
                display: inline-block;
                line-height: 36px;
                span{
                    cursor: pointer;
                    color: #999;
                }
            }
        }
        .body{
            margin-top: 10px;
            border-top:1px solid #d5d7d9;
            height: 400px;
            overflow-y: scroll;
            .list{
                margin-top: 20px;
                .info{
                    span{
                        margin-right: 10px;
                        display: inline-block;
                        font-weight: bold;
                    }
                }
                p{
                    color: #999;
                    line-height: 20px;
                    img{
                        max-width: 300px;
                    }
                }
            }
        }
        .foot{
            .ui.right.floated.menu{
                margin-top: 20px;
            }
            .disable{
                opacity: 0.3;
                pointer-events: none;
            }
        }
    }
}
