.page {
    margin: 10px 0;
    *zoom: 1;
    div{
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        display: inline-block;
        &:before,&:after {
            display: table;
            content: "";
        }
        &:after {
            clear: both;
        }
        a,span {
            float: left;
            margin-left: -1px;
            padding: 0 14px;
            height: 30px;
            line-height: 30px;
            color: #686868;
            border-right: 1px solid #CCCCCC;
        }
        a:hover {
            text-decoration: none;
            background: #E1E1E1;
        }
        .current {
            border-right: 1px solid #CCCCCC;
            color: #2185d0;
        }
        .next,.prev {
            font-weight: bold;
        }
        .rows {
            border-right: none;
        }
    }
}
