<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>待入职人员</h2>
	</div>
	<div class="toolbar">
		
	</div>
	<!-- 数据列表 -->
	<table class="ui celled table">
		<thead>
			<tr>
				<th>UID</th>
				<th>姓名</th>
				<th>性别</th>
				<th>年龄</th>
				<th>电话</th>
				<th>部门</th>
				<th>岗位</th>
				<th>发起审批时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<notempty name="_list">
				<volist name="_list" id="vo">
					<tr>
						<td>{$vo.uid} </td>
						<td>{$vo.realname}</td>
						<td>{$vo.sex}</td>
						<td>{$vo.age}</td>
						<td>{$vo.phone}</td>
						<td>{$vo.dname}</td>
						<td>{$vo.stationname}</td>
						<td>{$vo.entrytime}</td>
						<td>
							<a href="{:U('User/add?id='.$vo['uid'])}">详情</a>
							<eq name="vo.status" value="1">
								<a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}" class="ajax-get">禁用</a>
								<else/>
								<a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}" class="ajax-get">撤回</a>
							</eq>
						</td>
					</tr>
				</volist>
					<else/>
					<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
			</notempty>		
		</tbody>
	</table>
	<div class="page">
		{$_page}
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		//导航高亮
		highlight_subnav('{:U('User/index')}');
	</script>
</block>