<extend name="Public/base" />

<block name="body">
	<div id="userAdd">
		<div class="ui top attached tabular menu">
			<div class="item active" data-tab="tab-name">基本信息</div>
			<div class="item" data-tab="tab-name2">部门与薪资</div>
		</div>
		<div class="ui bottom attached segment tab active" data-tab="tab-name">
			<form action="{:U()}" method="post" class="form-horizontal ui form">
				<div class="fields">
					<div class="field">
						<label>工号</label>
						<input type="text" name="uid" value="{$find.uid}" disabled>
					</div>
					<div class="field">
						<label>姓名</label>
						<input type="text" name="username" value="{$find.realname}" disabled>
						<input type="hidden" class="text input-large" name="password" value="123456">
						<input type="hidden" class="text input-large" name="repassword" value="123456">
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>性别</label>
						<div class="ui radio checkbox disabled mr15">
							<input type="radio" name="sex" value="1" tabindex="0" class="hidden" {$find.nan} <if condition="$sone.isstaff eq 0"> checked="" </if>>
							<label>男</label>
						</div>
						<div class="ui radio checkbox disabled mr15">
							<input type="radio" name="sex" value="0" tabindex="0" class="hidden" {$find.nv} <if condition="$sone.isstaff neq 0"> checked="" </if>>
							<label>女</label>
						</div>
					</div>
					<div class="field">
						<label>联系电话</label>
						<input type="text" name="phone" value="{$find.phone}" disabled>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>QQ号</label>
						<input type="text" name="qq" value="{$find.qq}" disabled>
					</div>
					<div class="field">
						<label>紧急联系人姓名</label>
						<input type="text" name="criticalname" value="{$find.criticalname}" disabled>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>紧急联系人电话</label>
						<input type="text" name="criticalphone" value="{$find.criticalphone}" disabled>
					</div>
					<div class="field">
						<label>出生日期</label>
						<input type="text" name="birthday" value="{$find.birthday}" disabled>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>民族</label>
						<input type="text" name="nation" value="{$find.nation}" disabled>
					</div>
					<div class="field">
						<label>政治面貌</label>
						<input type="text" name="political" value="{$find.political}" disabled>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>身份证号</label>
						<input type="text" name="IDnumber" value="{$find.IDnumber}" disabled>
					</div>
					<div class="field">
						<label>专业</label>
						<input type="text" name="major" value="{$find.major}" disabled>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>毕业学校</label>
						<input type="text" name="topeducation" value="{$find.school}" disabled>
					</div>
					<div class="field">
						<label>最高学历</label>
						<input type="text" name="topeducation" value="{$find.topeducation}" disabled>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>婚姻状况</label>
						<select class="ui dropdown dropdown-init" name="matrimonial" disabled>
							<option value="未婚" <if condition="$find.matrimonial eq '未婚'"> selected </if>>未婚</option>
							<option value="已婚" <if condition="$find.matrimonial eq '已婚'"> selected </if>>已婚</option>
							<option value="离异" <if condition="$find.matrimonial eq '离异'"> selected </if>>离异</option>
							<option value="丧偶" <if condition="$find.matrimonial eq '丧偶'"> selected </if>>丧偶</option>
						</select>
					</div>
					<div class="field">
						<label>籍贯</label>
						<input type="text" name="nativeplace" value="{$find.nativeplace}" disabled>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>现居地址</label>
						<input type="text" name="nowliveplace" value="{$find.nowliveplace}" disabled>
					</div>
					<div class="field">
						<label>爱好、特长</label>
						<input type="text" name="hobbies" value="{$find.hobbies}" disabled>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>入职时间</label>
						<input type="text" name="entrytime" value="{$find.entrytime}" disabled>
					</div>
					<div class="field">
						<label>试用期</label>
						<input type="text" name="trydate" value="{$find.trydate}" disabled>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>状态</label>
						<div class="ui radio checkbox disabled mr15">
							<input type="radio" name="iscompletion" value="1" tabindex="0" class="hidden" {$find.shi}>
							<label>正式</label>
						</div>
						<div class="ui radio checkbox disabled mr15">
							<input type="radio" name="iscompletion" value="0" tabindex="0" class="hidden" {$find.fou}>
							<label>试用</label>
						</div>
					</div>
					<div class="field">
						<label>转正日期</label>
						<input type="text" name="completiontime" value="{$find.completiontime}" disabled>
					</div>
				</div>
				<input type="hidden" name="savestatus" value="基本信息">
			</form>
		</div>
		<div class="ui bottom attached segment tab" data-tab="tab-name2">
			<form action="{:U()}" method="post" class="form-horizontal2 ui form">
				<div class="fields">
					<div class="field">
						<label>所属部门</label>
						<select class="ui dropdown dropdown-init disabled" name="did">
							<volist name="department" id="vo">
								<option value="{$vo.did}" <eq name="vo.did" value="$sel[0]['did']"> selected="selected" </eq>>{$vo.dname}</option>
							</volist>
						</select>
					</div>
					<div class="field">
						<label>所属岗位</label>
						<!--
							isstaff = 1 则是非普通员工，隐藏薪资内容
						-->
						<!--<select class="ui dropdown" name="sid" id="station">
							<volist name="station" id="vo">
								<option value="{$vo.sid}" isstaff='{$vo.isstaff}' <if condition="$vo.sid eq $sel[0]['sid']">selected </if>>{$vo.stationname}</option>
							</volist>
						</select>-->
						<div class="ui selection dropdown disabled" id="station">
							<input type="hidden" name="sid" value="{$sel[0]['sid']}">
							<i class="dropdown icon"></i>
							<div class="default text"></div>
							<div class="menu">
								<volist name="station" id="vo">
									<div class="item" data-value="{$vo.sid}" isstaff='{$vo.isstaff}'>{$vo.stationname}</div>
								</volist>
							</div>
						</div>
					</div>
				</div>
				<if condition="($look eq 0 and $isstaff eq 0) or ($look eq 1)">
					<empty name="sel">
						<div class="fields fields-xm fields-hide">
							<div class="field">
								<label>所属项目</label>
								<select class="ui dropdown dropdown-init disabled" name="newdid[]">
									<volist name="project" id="vo">
										<option value="{$vo.id}">{$vo.name}</option>
									</volist>
								</select>
							</div>
							<div class="field">
								<label>分摊工资</label>
								<input type="text" name="newps1[]" value="" disabled/>
							</div>
							<div class="field field-icon">
								<i class="minus square icon"></i>
							</div>
						</div>
						<else />
						<volist name="sel" id="vos" key="k">
							<div class="fields fields-xm fields-hide">
								<div class="field">
									<label>所属项目</label>
									<input type="text" name="p{$k}" value="{$vos.projectname}" readonly>
									<input type="hidden" name="prid[]" value="{$vos.dssid}">
								</div>
								<div class="field">
									<label>分摊工资</label>
									<input type="text" name="ps{$k}" value="{$vos.projectsalary}" readonly/>
								</div>
								<div class="field field-icon">
									<i class="add square icon"></i>
									<i class="minus square icon"></i>
								</div>
							</div>
						</volist>
					</empty>
					<div class="fields fields-hide">
						<div class="field">
							<label>试用薪资</label>
							<input type="text" name="trysalary" value="{$salarychange.trysalary}" disabled>
						</div>
						<div class="field">
							<label>正式薪资</label>
							<input type="text" name="completionsalary" value="{$salarychange.completionsalary}" disabled/>
						</div>
					</div>
					<div class="fields fields-hide">
						<div class="field field-textarea">
							<label>绩效考核</label>
							<textarea name="jixiao" rows="3" disabled>{$salarychange.jixiao}</textarea>
						</div>
					</div>
				</if>
				<input type="hidden" name="savestatus" value="岗位">
				<input type="hidden" name="uid" value="{$find.uid}">
				<h3>审批流程</h3>
				<hr>
				<div class="form-item pt10">
					{$appro['info'][0]['person']}（发起）
					<volist name='appro.info' id="vo">
						->{$vo.realname} (
						<if condition="($vo['status'] eq 1) "> 通过
							<elseif condition="$vo['status'] eq 0" />拒绝
							<elseif condition="$vo['status'] eq -2" />正在审核
						</if>
						)
					</volist>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		$(function() {
			$('.menu .item').tab();
			$('.ui.radio.checkbox').checkbox();
			$('.dropdown-init').dropdown();
			$("#station").dropdown();
		})
		//导航高亮
		highlight_subnav('{:U('Perappro/index')}');
	</script>
</block>