<extend name="Public/base" />

<block name="body">
	<div id="userAdd">
		<div class="ui top attached tabular menu">
			<div class="item active" data-tab="tab-name">基本信息</div>
		</div>
		<div class="ui bottom attached segment tab active" data-tab="tab-name">
			<form action="{:U()}" method="post" class="form-horizontal ui form">
				<div class="fields">
					<div class="field">
						<label>工号</label>
						<input type="text" name="uid" readonly placeholder="自动生成">
					</div>
					<div class="field">
						<label>姓名</label>
						<input type="text" name="username">
					</div>
					<div class="field">
						<label>联系电话</label>
						<input type="text" name="phone">
					</div>
					<div class="field">
						<label>性别</label>
						<div class="ui radio checkbox mr15">
							<input type="radio" name="sex" value="1" tabindex="0" class="hidden" checked="">
							<label>男</label>
						</div>
						<div class="ui radio checkbox mr15">
							<input type="radio" name="sex" value="0" tabindex="0" class="hidden">
							<label>女</label>
						</div>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>QQ号</label>
						<input type="text" name="qq">
					</div>
					<div class="field">
						<label>紧急联系人姓名</label>
						<input type="text" name="criticalname">
					</div>
					<div class="field">
						<label>紧急联系人电话</label>
						<input type="text" name="criticalphone">
					</div>
					<div class="field">
						<label>出生日期</label>
						<input type="text" name="birthday" id="birthday">
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>民族</label>
						<input type="text" name="nation">
					</div>
					<div class="field">
						<label>政治面貌</label>
						<input type="text" name="political">
					</div>
					<div class="field">
						<label>身份证号</label>
						<input type="text" name="IDnumber">
					</div>
					<div class="field">
						<label>专业</label>
						<input type="text" name="major">
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>毕业学校</label>
						<input type="text" name="school">
					</div>
					<div class="field">
						<label>最高学历</label>
						<input type="text" name="topeducation">
					</div>
					<div class="field">
						<label>婚姻状况</label>
						<select class="ui dropdown dropdown-init" name="matrimonial">
							<option value="未婚" selected="selected">未婚</option>
							<option value="已婚">已婚</option>
							<option value="离异">离异</option>
							<option value="丧偶">丧偶</option>
						</select>
					</div>
					<div class="field">
						<label>籍贯</label>
						<input type="text" name="nativeplace">
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>现居地址</label>
						<input type="text" name="nowliveplace">
					</div>
					<div class="field">
						<label>入职时间</label>
						<input type="text" name="entrytime" class="form_datetime">
					</div>
					<div class="field">
						<label>转正日期</label>
						<input type="text" name="completiontime" class="form_datetime">
					</div>
					<div class="field">
						<label>状态</label>
						<div class="ui radio checkbox mr15">
							<input type="radio" name="iscompletion" value="1" tabindex="0" class="hidden">
							<label>正式</label>
						</div>
						<div class="ui radio checkbox mr15">
							<input type="radio" name="iscompletion" value="0" tabindex="0" class="hidden" checked="">
							<label>试用</label>
						</div>
					</div>
				</div>
				<div class="fields">
					<div class="field">
						<label>所属部门</label>
						<select class="ui dropdown" name="did" id="department">
							<volist name="department" id="vo">
								<option value="{$vo.did}">{$vo.dname}</option>
							</volist>
						</select>
					</div>
					<div class="field">
						<label>所属岗位</label>
						<div class="ui selection dropdown" id="sid">						
							<input type="hidden" name="sid">
							<i class="dropdown icon"></i>
							<div class="default text"></div>
							<div class="menu">							
							</div>
						</div>						
					</div>
				</div>
				<if condition="C('IS_APPRO') neq 1">
					<div class="ui divider"></div>
					<div class="fields">
						<div class="field">
							<label>试用薪资</label>
							<input type="text" name="trysalary">
						</div>
						<div class="field">
							<label>正式薪资</label>
							<input type="text" name="completionsalary" />
						</div>
					</div>
					<input type="button" class="ui blue button add mb20 fields-hide" value="添加所属项目" />
					<div class="fields fields-xm fields-hide">
						<div class="field field-textarea">
							<label>绩效考核</label>
							<textarea name="jixiao" rows="3"></textarea>
						</div>
					</div>
				<else />
					<div class="fields">
						<div class="field">
							<label>审批人<span class="check-tips">（请按照顺序添加审批人）</span></label>
							<div class="ui search multiple selection dropdown field-textarea" id="searchUser">
				                <input type="hidden" name="dperson">
				                <i class="dropdown icon"></i>
			                	<div class="default text">输入姓名搜索</div>
				                <div class="menu"> </div>
				            </div>
						</div>
					</div>
				</if>
				<input type="hidden" name="savestatus" value="基本信息">
				<div class="form-item">
					<button class="ui blue button submit-btn ajax-post mr20" type="submit" id="submit" target-form="form-horizontal">确 定</button>
					<button class="ui blue button btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		$(function() {
			var departmentJosn = <?php echo json_encode($department)?>;
			$('.menu .item').tab();
			$('.ui.radio.checkbox').checkbox();
			$('.dropdown-init,#sid').dropdown();
			$("#department").dropdown({
				onChange: function(value, text, $selectedItem) {
					for (var i = 0; i < departmentJosn.length; i++) {
						$("#sid").dropdown('clear');
						if(value == departmentJosn[i].did){
							if(departmentJosn[i].sid){
								var html = '';
								for(var j in departmentJosn[i].sid){
									html += '<div class="item" data-value="'+j+'">'+departmentJosn[i].sid[j]+'</div>';
								}
								$("#sid .menu").html(html);
							}else{
								alert("此部门出错，请联系管理员");
							}
						}
					}
				}
			})
			//添加项目
			$(".button.add").click(function(){
				var html = '<div class="fields fields-xm fields-hide">' + 
								'<div class="field">' + 
									'<label>所属项目</label>' + 
									'<select class="ui dropdown dropdown-init" name="newdid[]">' + 
					                    '<volist name="project" id="vo">' + 
					                    	'<option value="{$vo.id}">{$vo.name}</option>' + 
					                    '</volist>' + 
					                '</select>' +
								'</div>' + 
								'<div class="field">' + 
									'<label>分摊工资</label>' + 
									'<input type="text" name="newps1[]" value="" />' + 
								'</div>' + 
								'<div class="field field-icon">' + 
									'<i class="minus square icon"></i>' + 
								'</div>' + 
							'</div>';
				$(this).before(html);
				$('.dropdown-init').dropdown();
			})
			//删除项目
			$(".form-horizontal").delegate(".minus.icon","click",function(){
				$(this).closest(".fields").remove();
			})
			$(".form_datetime").datetimepicker({
				format: 'yyyy-mm-dd',
				language: "zh-CN",
	            minView: 2,
	            startView: 2,
	            autoclose: true,
			});
			//出生日期
	        $('#birthday').datetimepicker({
	            format: 'yyyy-mm-dd',
	            language: "zh-CN",
	            minView: 2,
	            startView:4,
	            autoclose: true,
	        })
	        //审批人
	        $('#searchUser').dropdown({
	            forceSelection: false,
	            apiSettings: {
	                cache: false,
	                url: "__APP__/Admin/Uapi/membername/name/" + '{query}',
	                onResponse:function(response){
	                    var data = {
	                        "success":true,
	                        "results" : []
	                    };
	                    for(var i = 0; i < response.data.length; i++){
	                        data.results.push({"name":response.data[i].realname,"value":response.data[i].uid})
	                    }
	                    return data;
	                },
	            },
	            message: {
	                noResults: '未找到搜索结果'
	            }
	        });
		})
	</script>
</block>