<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>人事信息</h2>
	</div>
	<div class="toolbar">
		<!--<a class="ui blue button" href="{:U('User/add')}">新 增</a>-->
		<button class="ui blue button ajax-post" url="{:U('User/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
		<button class="ui blue button ajax-post" url="{:U('User/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
		<button class="ui blue button ajax-post confirm" url="{:U('User/changeStatus',array('method'=>'deleteUser'))}" target-form="ids">删 除</button>
		
		<div class="ui selection dropdown" id="department">						
			<input type="hidden" name="depar" value="{$depar}">
			<i class="dropdown icon"></i>
			<div class="default text">按照部门筛选</div>
			<div class="menu">					
				<div class="item" data-value="0" >全部</div>
				<volist name="department" id="vo">
					<div class="item" data-value="{$vo.did}" >{$vo.dname}</div>
				</volist>
			</div>
		</div>
		<div class="ui selection dropdown" id="project">				
			<input type="hidden" name="pro" value="{$pro}">
			<i class="dropdown icon"></i>
			<div class="default text">按照项目筛选</div>
			<div class="menu">					
				<div class="item" data-value="0" >全部</div>
				<volist name="project" id="vo">
					<div class="item" data-value="{$vo.id}" >{$vo.name}</div>
				</volist>
			</div>
		</div>
		<div class="ui selection dropdown" id="post">						
			<input type="hidden" name="stat" value="{$stat}">
			<i class="dropdown icon"></i>
			<div class="default text">按照岗位筛选</div>
			<div class="menu">					
				<div class="item" data-value="0">全部</div>
				<volist name="station" id="vo">
					<div class="item" data-value="{$vo.sid}" >{$vo.stationname}</div>
				</volist>
			</div>
		</div>
	</div>
	<!-- 数据列表 -->	
	<table class="ui celled table">
		<thead>
			<tr>
				<th><input class="check-all" type="checkbox" /></th>
				<th>UID</th>
				<th>姓名</th>
				<th>性别</th>
				<th>年龄</th>
				<th>电话</th>
				<th>部门</th>
				<th>岗位</th>
				<th>状态</th>
				<th>入职时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<notempty name="_list">
				<volist name="_list" id="vo">
				<if condition="$vo.m_status gt '-1'">
					<tr>
						<td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
						<td>{$vo.uid} </td>
						<td>{$vo.realname}</td>
						<td>    
							<if condition="($vo.sex eq 1) "> 男
    						<else /> 女
    						</if>
    					</td>
						<td>{$vo.age}</td>
						<td>{$vo.phone}</td>
						<td>{$vo.dname}</td>
						<td>{$vo.stationname}</td>
						<td>    
							<if condition="($vo.iscompletion eq 1) "> 正式
    						<else /> 试用
    						</if>
    					</td>
						<td>{$vo.entrytime}</td>
						<td>
							<a href="{:U('User/edit?id='.$vo['uid'])}">查看详情</a>
							<eq name="vo.status" value="1">
								<a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}" class="ajax-get">禁用</a>
								<else/>
								<a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}" class="ajax-get">启用</a>
							</eq>
							<a href="{:U('User/changeStatus?method=deleteUser&id='.$vo['uid'])}" class="confirm ajax-get">删除</a>
						</td>
					</tr>
					</if>
				</volist>
					<else/>
					<td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
			</notempty>		
		</tbody>
	</table>
	<div class="pages">
		{$_page}
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		$(function(){
			$("#department,#project,#post").dropdown({
				onChange: function(value, text, $selectedItem) {
					var url = window.location.href;
					url = url.substring(0,url.indexOf("User")+4)+"/index"
					var depar = $("input[name='depar']").val()?$("input[name='depar']").val():0;
					var pro  = $("input[name='pro']").val()?$("input[name='pro']").val():0;
					var stat  = $("input[name='stat']").val()?$("input[name='stat']").val():0;
					url = url + "/depar/" + depar + "/pro/" + pro + "/stat/" +stat;
					window.location.href = url;
				}
			});
		})
	</script>
</block>