<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
        <h2>修改密码</h2>
    </div>  
	<!-- 修改密码表单 -->
	<form action="{:U('User/submitPassword')}" method="post" autocomplete="off"  class="form-horizontal ui form">
		<div class="fields">
			<div class="field">
				<label>原密码</label>
				<input type="password" name="old"  autocomplete="off" />
			</div>
		</div>
		<div class="fields">
			<div class="field">
				<label>新密码</label>
				<input type="password" name="password"  autocomplete="off" />
			</div>
		</div>
		<div class="fields">
			<div class="field">
				<label>确认密码</label>
				<input type="password" name="repassword"  autocomplete="off" />
			</div>
		</div>
		<div class="form-item">
			<button type="submit" class="ui blue button submit-btn ajax-post mr20" target-form="form-horizontal">确 认</button>
			<button class="ui blue button btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>

<block name="script">
</block>