.ui{
    &.dropdown.selection{
        width: 260px;
        border: 1px solid $dropdown-border-color;
        border-radius: $dropdown-border-radius;
        padding:10px;
        min-height:inherit !important;
        min-width:inherit !important;
        color: $dropdown-color !important;
        &.auto{
           width: calc(100% + 2px);
           border: none;
           border-radius: 0px;
           margin: -1px;
           padding: 12px !important;
           background: none !important;
           .search{
               padding: 12px !important;
               margin-left: 0px;
           }
           &.active,&:active,&:focus{
               border:1px solid $input-w-border-hover !important;
           }
           .menu{
               border-radius: 0px;
               border-bottom: 1px solid $input-w-border-hover !important;
               border-left: 1px solid $input-w-border-hover !important;
               border-right: 1px solid $input-w-border-hover !important;
           }
        }
        &.right{
            float: right;
        }
        &.active,&:active,&:focus{
            border-color: $dropdown-border-hover !important;
        }
        .text{
            color: $dropdown-color !important;
        }
        .menu{
            border-color: $dropdown-menu-border-color !important;
            .item{
                font-size: em(14) !important;
                padding: em(7) em(10);
                color: $dropdown-color !important;
                font-weight: inherit !important;
                padding:em(10) !important;
                &:hover{
                    background: $dropdown-item-bg-hover;
                }
            }
        }
        .dropdown.icon{
            box-shadow:none;
            outline:none;
        }
        .remove.icon{
            cursor: pointer;
            position: absolute;
            width: auto;
            height: auto;
            line-height: 1.21428571em;
            top: .58571429em;
            right: 1em;
            z-index: 3;
            margin: -.78571429em;
            padding: .78571429em;
            opacity: .8;
        }
        &.search{
            input.search{
                margin-left: -5px;
            }
            .text{
                left: 0px;
                margin-left: 0px;
            }
        }
        //多选
        &.multiple{
            padding: 2px 5px;
            input.search{
                margin-left: 5px;
            }
            .text{
                left: 0px;
                margin-left: 5px;
            }
            .label{
                border: none;
                box-shadow:none;
                margin: 3px 3px;
                color: #666;
                font-weight: normal;
            }
        }
    }
}
