<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>新增岗位</h2>
    </div>    
    <form action="{:U()}" method="post" class="form-horizontal"> 
    	<div class="form-item">
            <label class="item-label">所属部门</label>
            <select name='did'>
            	<option value="0">通用岗位名称</option>
            	<volist name="department" id="vo">
            	<option class="child" value="{$vo.did}">{$vo.dname}</option>
            	</volist>
            </select>
            <select name='did'>            	
            	<volist name="department" id="vo">
            	<option value="{$vo.did}">{$vo.dname}</option>
            	</volist>
            </select>
        </div>   
        <div class="form-item">
            <label class="item-label">岗位名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="stationname" value="">
            </div>
        </div>
        
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
        $(function(){
        	$('.child').click(function(){
        		var dpid=$(this).val();
        		alert(dpid);
        		})
        })
    </script>
</block>
