#userAdd{
    .field{
        min-width: 230px !important;
        margin-right: 50px;
    }
    .field-icon{
        position: relative;
        .icon{
            font-size: 24px;
            position: absolute;
            top: 30px;
            cursor: pointer;
            &.minus{
                left: -40px;
            }
        }
    }
    .field-textarea{
        width: 512px;
    }
}
.user-edit-modal{
    width: 320px !important;
    left: 50% !important;
    margin-left: -160px !important;
    .content{
        p{
            margin-top: 5px;
            color: crimson;
        }
    }
}
