<extend name="Public/base" />

<block name="body">
	<div id="menuEdit">
		<div class="main-title">
			<h2>{:isset($info['id'])?'编辑':'新增'}项目</h2>
		</div>
		<form action="{:U()}" method="post" class="form-horizontal ui form">
			<div class="fields">
				<div class="field">
					<label>项目名称</label>
					<input type="text" name="name" value="{$info.name|default=''}">
				</div>
			</div>
			<div class="fields">
				<div class="field">
					<label>所属地区</label>
					<input type="text" class="text input-small" name="area" value="{$info.area|default=''}">
				</div>
			</div>
			<div class="fields">
				<div class="field">
					<label>医院名称</label>
					<input type="text" name="h_name" value="{$info.h_name|default=''}">
				</div>
			</div>
			<div class="fields">
				<div class="field">
					<label>科室</label>
					<input type="text" name="depar" value="{$info.depar|default=''}">
				</div>
			</div>
			<div class="fields">
				<div class="field">
					<label>项目部门</label>
					<div class="ui selection dropdown">
		                <input type="hidden" name="charge" value="{$info.charge|default=''}">
		                <i class="dropdown icon"></i>
		                <empty name="info.realname">
		                	<div class="default text"></div>
		                <else />
		                	<div class="text">{$info.realname}</div>
						</empty>
		                <div class="menu"> </div>
		            </div>
				</div>
			</div>
			<div class="fields">
				<div class="field">
					<label>项目主管</label>
					<div class="ui search selection dropdown" id="searchUser">
		                <input type="hidden" name="charge" value="{$info.charge|default=''}">
		                <i class="dropdown icon"></i>
		                <empty name="info.realname">
		                	<div class="default text">输入姓名搜索</div>
		                <else />
		                	<div class="text">{$info.realname}</div>
						</empty>
		                <div class="menu"> </div>
		            </div>
				</div>
			</div>
			<div class="form-item mt20">
				<input type="hidden" name="id" value="{$info.id|default=''}">
				<button class="ui blue button submit-btn ajax-post mr20" id="submit" type="submit" target-form="form-horizontal">确 定</button>
				<button class="ui blue button btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
			</div>
		</form>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		$(function(){
			$('#searchUser').dropdown({
	            forceSelection: false,
	            apiSettings: {
	                cache: false,
	                url: "__APP__/Admin/Uapi/membername/name/" + '{query}',
	                onResponse:function(response){
//	                    if(!response.data.length && !response.status){
//	                        return;
//	                    }
	                    var data = {
	                        "success":true,
	                        "results" : []
	                    };
	                    for(var i = 0; i < response.data.length; i++){
	                        data.results.push({"name":response.data[i].realname,"value":response.data[i].uid})
	                    }
	                    return data;
	                },
	            },
	            message: {
	                noResults: '未找到搜索结果'
	            }
	        });
	        //导航高亮
			highlight_subnav('{:U('edit')}');
		})
	</script>
</block>