<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
    <if condition="$done.did neq ''">
        <h2>编辑部门信息</h2>
    <else/>
        <h2>新增部门</h2>
    </if>
    </div>    
    <form action="{:U()}" method="post" class="form-horizontal ui form"> 
    	<div class="fields">
	    	<div class="field">
				<label>上级部门</label>
				<select class="ui dropdown" name='dpid'>
	            	<volist name="department" id="vo">
	            		<option class="child" value="{$vo.did}" <eq name="vo.did" value="$done['dpid']"> selected="selected" </eq>>{$vo.dname}</option>
	            	</volist>
	            </select>
			</div>
		</div>
		<div class="fields">
			<div class="field">
				<label>部门名称</label>
				<input type="text" name="dname" value="{$done.dname}">
				<input type="hidden" name="did" value="{$done.did}">
			</div>
		</div>
		<div class="fields">	
			<div class="field">
				<label>部门负责人</label>
				<div class="ui search selection dropdown" id="searchUser">
	                <input type="hidden" name="dperson" value="{$done.dperson}">
	                <i class="dropdown icon"></i>
	                <empty name="done.personname">
	                	<div class="default text">输入姓名搜索</div>
	                <else />
	                	<div class="text">{$done.personname}</div>
					</empty>
	                <div class="menu"> </div>
	            </div>
			</div>
		</div>
		<div class="fields">	
			<div class="field">
				<label>是否属于项目部门</label>
				<div class="ui radio checkbox mr15">
					<input type="radio" name="sex" value="1" tabindex="0" class="hidden" <if condition="$sone.isstaff eq 1"> checked="" </if>>
					<label>是</label>
				</div>
				<div class="ui radio checkbox mr15">
					<input type="radio" name="sex" value="0" tabindex="0" class="hidden" <if condition="$sone.isstaff neq 1"> checked="" </if>>
					<label>否</label>
				</div>
			</div>
		</div>
        <div class="form-item mt20">
            <button class="ui blue button submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="ui blue button btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
    	$(function(){
    		$('.ui.radio.checkbox').checkbox();
    		$('.ui.dropdown').dropdown();
    		$('#searchUser').dropdown({
	            forceSelection: false,
	            apiSettings: {
	                cache: false,
	                url: "__APP__/Admin/Uapi/membername/name/" + '{query}',
	                onResponse:function(response){
//	                    if(!response.data.length && !response.status){
//	                        return;
//	                    }
	                    var data = {
	                        "success":true,
	                        "results" : []
	                    };
	                    for(var i = 0; i < response.data.length; i++){
	                        data.results.push({"name":response.data[i].realname,"value":response.data[i].uid})
	                    }
	                    return data;
	                },
	            },
	            message: {
	                noResults: '未找到搜索结果'
	            }
	        });
    	})
    </script>
</block>
