<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
    <if condition="$sone.sid neq ''">
        <h2>编辑岗位信息</h2>
    <else/>
        <h2>新增岗位</h2>
    </if>
    </div>    
    <form action="{:U()}" method="post" class="form-horizontal ui form"> 
    	<div class="fields">
	    	<div class="field">
				<label>上级岗位</label>
				<div class="ui selection dropdown">
					<input type="hidden" name="spid" value="{$sone['spid']}">
					<i class="dropdown icon"></i>
					<div class="default text"></div>
					<div class="menu">
						<volist name="station" id="vo">
							<div class="item" data-value="{$vo.sid}">{$vo.stationname}</div>
						</volist>
					</div>
				</div>
			</div>
		</div>
		<div class="fields">
			<div class="field">
				<label>岗位名称</label>
				<input type="text" name="stationname" value="{$sone.stationname}">
			</div>
		</div>
		<div class="fields">
	    	<div class="field">
				<label>岗位权限</label>
				<div class="ui selection dropdown">
					<input type="hidden" name="auth_group_id" value="{$sone.auth_group_id}">
					<i class="dropdown icon"></i>
					<div class="default text"></div>
					<div class="menu">
						<volist name="auth_group" id="vo">
							<div class="item" data-value="{$vo.id}">{$vo.title}</div>
						</volist>
					</div>
				</div>
			</div>
		</div>
		<div class="fields">
	        <div class="field">
	            <label class="item-label">是否为普通员工岗位</label>
	            <div class="ui radio checkbox mr15">
					<input type="radio" name="isstaff" value="0" tabindex="0" class="hidden" <if condition="$sone.isstaff eq 0"> checked="" </if>>
					<label>是</label>
				</div>
				<div class="ui radio checkbox mr15">
					<input type="radio" name="isstaff" value="1" tabindex="0" class="hidden" <if condition="$sone.isstaff neq 0"> checked="" </if>>
					<label>否</label>
				</div> 
	        </div>
        </div>
        <input type="hidden" name="sid" value="{$sone.sid}">
        <div class="form-item mt20">
            <button class="ui blue button submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="ui blue button btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
    	$(function() {
    		$('.ui.dropdown').dropdown();
			$('.ui.radio.checkbox').checkbox();
		})
    	<if condition="$sone.sid neq ''">
	        highlight_subnav('{:U('Organize/station')}');
	    <else/>
	    	highlight_subnav('{:U('Organize/addstation')}');
	    </if>
        //导航高亮
        
    </script>
</block>
