<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
    <if condition="$Think.get.id eq ''">    
    </if>
    </div>
    <h1>发起审批</h1><hr>
    <form action="{:U()}" method="post" class="form-horizontal">    
        <div class="form-item">
            <table style="height:300px;">
            	<tr>
                    <td>
        	        	<label>审批类型：</label>
                        <select>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>审批原因：</label>
                        <textarea></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>审批人：</label>
                        <select>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                            <option>1</option>
                        </select>
                    </td>
                </tr>
            </table>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('User/index')}');
    </script>
</block>
